*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1680px;
    width:100%;
    margin: 0 auto;
}

.App{
    min-height: 100vh;
    height: auto;
    background:url("./img/app-backround.jpg") no-repeat 100%;
    background-size: cover;
}
